version: '3.8'
services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_USERNAME: "khobau_usr"
      MYSQL_PASSWORD: "khobauHMI123!@#"
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: khobau
    ports:
      - "3306:3306"
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    environment:
      UPLOAD_LIMIT: 1G
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"