
.nav ul{
  list-style-type: none;
 
}
.nav ul :link{
  text-decoration: none;
  display: flex;
}
.kep-login-facebook.metro {
  
  
  font-size: 16px;
  border-radius: 10px;
}
.text-center{
  max-width: 400px;
  /* height: 700px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.text-center .box-1{
  margin-top: 40px;
  
}
.text-center button{
  width: 270px;
  height: 50px;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  border-radius: 5px;
}
.justify-content{
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
/* .borderForm{
  max-width: 576px;
  height: 800px;
  border: 2px solid rgb(34, 32, 32);
  background-color: #E2EBF8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 10px;
} */
.button {
  
  
  text-align: center;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  
  
}
/* .homeBox{
  font-size: 24px;
  max-width: 400px;
  height: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
  border-radius: 10px  ;
  border: 1px solid black;
} */
/* .box_1{
 margin: 50px 15px;
 
} */

.flex-c-m {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.w-80 {
  width: 80%;
}

.flex-1 {
  flex: 1;
}