.q-answer {
    padding: 5px 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-question {
    width: 80%;
    /* height: 200px; */
    margin-bottom: 24px;
}
.img-question .img-q {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.question {
    width: fit-content;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 24px;
    background-color: #ffffff;
    border-radius: 6px;

}

.answer-text {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    background-color: #7fbbff73;
    color: #000000;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 16px;
}

.answer-text:hover {
    box-shadow: 0px 0px 6px 2px #40a9ff;
}

.answer-text:nth-child(2n+1) {
    margin-right: 16px;
}

.list-option {
    margin: 0 auto;
    width: 316px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.correct {
    background-color: rgb(7, 207, 0);
    color: white;
    box-shadow: 0 0 1px black;
}

.wrong {
    background-color: rgb(233, 0, 0);
    color: white;
    box-shadow: 0 0 1px black;
}