.q-answer {
    padding: 10px 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-question {
    /* width: 80%;
    margin-bottom: 24px; */
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.img-question .img-q {
    /* max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px; */
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 92%;
}
.question {
    /* width: fit-content; */
    width: 97%;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin: 20px 0;
    background-color: #ff8f0fa1;
    border-radius: 6px;
    max-width: 97%;
}

.answer-text {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    /* background-color: #4ba0ff66; */
    background-color: #fff;
    /* color: #000000; */
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 16px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border: 5px solid;
}

.answer-text.answer-text-0 {
    border-color: rgb(226, 27, 60);
    background-color: rgb(226, 27, 60);
}

.answer-text.answer-text-1 {
    border-color: rgb(19, 104, 206);
    background-color: rgb(19, 104, 206);
}

.answer-text.answer-text-2 {
    border-color: rgb(216, 158, 0);
    background-color: rgb(216, 158, 0);
}

.answer-text.answer-text-3 {
    border-color: rgb(38, 137, 12);
    background-color: rgb(38, 137, 12);
}

.answer-text:hover {
    box-shadow: 0px 0px 6px 2px #40a9ff;
}

.answer-text:nth-child(2n+1) {
    margin-right: 16px;
}

.answer-text.disabled {
    /* box-shadow: none; */
    cursor: default;
    opacity: 0.55;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px !important;
}

.list-option {
    margin: 0 auto;
    width: 316px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.answer-text.correct {
    background-color: rgb(7, 207, 0);
    border-color: rgb(7, 207, 0);
    color: white;
    opacity: 1 !important;
}

.answer-text.wrong {
    background-color: rgb(233, 0, 0);
    border-color: rgb(233, 0, 0);
    color: white;
    opacity: 1 !important;
}