.box_1{
    justify-content: space-between;
    padding:  10px 10% 0 10%;
    margin-bottom: 20px;
    display: flex;
    color: azure;
    text-align: center;
    
}
.box_2{
    justify-content: space-between;
    padding:  0 10% 0 10%;
    display: flex;
    color: azure;
}
.imgGame{
    max-width: 80%;
    margin: auto;
    padding:24px auto;
}

.imgGame .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.Question{
    max-width: 80%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4791FC;
    border-radius: 10px;
    padding-left: 5px;
}

.option{
    width: 48%;
    height: 120px;
    background-color: #4791FC;
    border-radius: 10px;
}

.option p{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.select{
    background-color: rgb(7, 207, 0);
    color: white;
    box-shadow:  0 0 1px black;
}
.wrong{
    background-color: rgb(233, 0, 0);
    color: white;
    box-shadow:  0 0 1px black;
}