[role="main"] {
  padding-top: 95px;
}

.content-page {
     margin-left: 250px;
     overflow: hidden;
     width: 100%;
 }

.sidebar-collapsed .content-page {
    margin-left: 80px;
    margin-bottom: -40px;
}

label {
  font-weight: 500;
}
