/* .title{
    padding-top: 12px;
} */
.introgames{
    display: flex;
    text-align: center;
    /* background-color: #4791FC35; */
    /* padding: 12px; */
}
.description{
    font-size: 18px;
    font-weight: 400;
    padding:20px;
    text-align: justify;
}
.game-detail{
    overflow: auto;
    width: 100%;
}