.ScrDisplay {
    overflow: auto;
}

.img_Game {
    padding-bottom: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.display-img {
    border-radius: 10px;
    margin-top: 16px;
    max-width: 90%;
}
.display-youtube{
    margin-top: 16px;
    max-width: 90%;
}

.des {
    font-size: 18px;
    color: black;
    margin: auto;
    max-width: 90%;
}

.des p {
    text-align: justify;
}

.name {
    margin: auto;
    font-weight: 500;
}

.rs-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-play, .rs-stop, .rs-pause, .rs-resume {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}