.imgGame {
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* .imgGame .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
} */
.display-img{
    border-radius: 10px;
}
.des {
    width: 80%;
    font-size: 18px;
    color: black;
    margin: auto;
}
.des p{
    text-align: justify;
}
.name {
    width: 80%;
    margin: auto auto auto;
    font-weight: 500;
}