.audio-react-recorder__canvas {
    width: 80%;
    border-radius: 8px;
}
.audio-react-recorder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    overflow: hidden;
}
.Recoder_title{
    font-weight: 500;
    font-size: 20px;
    padding: 0 20px;
}
.recording {
    position: relative;
}

.preview-audio {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: rgb(255,255,255);
    border-radius: 8px;
}

.Recoder {
    align-items: center;
}

.btn-control {
    margin-top: 40px !important;
    margin: 24px;
    width: 290px;
}