.box{
    height: 100%;
    background-color: #4791FC35;
    padding: 16px;
}
.box_1{
    justify-content: space-between;
    padding:  10px 10% 0 10%;
    margin-bottom: 30px;
    display: flex;
    color: azure;
    text-align: center;
    
}
.box_2{
    justify-content: space-between;
    padding:  0 10% 0 10%;
    display: flex;
    color: azure;
}
.imgGame{
    width: 80%;
    margin: auto;
    padding: 24px auto;
}
.imgGame .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.Question{
    max-width: 80%;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4791FC;
    border-radius: 10px;
}
.Option{
    
    margin-left: auto;
    margin-right: auto;
}
/* .option_1{
    width: 45%;
    height: 120px;
    background-color: #4791FC;
    border-radius: 10px;
}
.option_2{
    width: 45%;
    height: 120px;
    background-color: #4791FC;
    border-radius: 10px;
}
.option_2 p{
    text-align: center;
    justify-content: center;
}
.option_3{
    width: 45%;
    height: 120px;
    background-color: #4791FC;
    border-radius: 10px;
}
.option_4{
    width: 45%;
    height: 120px;
    background-color: #4791FC;
    border-radius: 10px;
} */
/* .button{
    padding: 20px !important;
} */
.btn-primary{
margin: 20px;
}